@charset "UTF-8";
* {
	margin: 0;
	padding: 0;
}
body,
input, button {
	font: 16px/2 arial, "Microsoft Yahei", sans-serif;
	color: #333;
}

#GuessNumer {
	display: block;
	position: relative;
	margin: 100px auto;
	width: 350px;
}

#GuessNumer .input,
#GuessNumer .btns,
#GuessNumer #.output {
	width: 100%;
}

#GuessNumer #nums {
	height: 40px; padding: 10px; margin: 10px auto;
	font: 32px/40px Consolas, monospace;
	border: 1px solid #ccc;
	border-radius: 3px;
	text-align: center;
	outline: none;
}
#GuessNumer #nums:focus {
	color: #69f;
	border-color: #69f;
	box-shadow: inset 0 0 10px #69f;
}

#GuessNumer .btns {
	text-align: center;
}

#GuessNumer button {
	display: inline-block;
	width: 100px;
	margin: 0 5px;
	border: 1px solid #333;
	background-color: #ffe;
	border-radius: 3px;
}

#GuessNumer button:hover {
	background-color: #69f;
	color: #fff;
}

#output {
	margin-top: 10px;
}

#output p {
	background-color: #9d9;
	line-height: 2em;
	padding: 0 2em;
	margin-top: 2px;
	color: #fff;
	cursor: default;
}

#output .error {
	background-color: #e99;
}

#output .info {
	background-color: #4c9ed9;
}

#output .success {
	background-color: green;
}
